<div class="modal fade" id="form_modal">
  <%= simple_form_for @archive_project, validate: true do |f| %>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><%= "#{params[:action].titleize} Archive Projet" %></h4>
          </div>
          <div class="modal-body">
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :name %>
              <%= f.input :description %>
              <%= f.input :reference %>
              <%= f.input :file,as: :file %>
              <%= f.association :project %>
            </div>
          </div>
          <div class="modal-footer">
            <%= f.button :submit, class: 'submit btn btn-success btn-xs round' %>
          </div>
        </div>
      </div>
  <% end %>
</div>