
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= "#{params[:action].titleize} Archive Courrier Sortant" %></h3>
  </div>
  <div class="panel-body">
    <%= simple_form_for(@archive_release_courier) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :reference %>
          <%= f.input :file, as: :file %>
          <%= f.association :ReleaseCourier %>
        </div>

        <div class="form-actions">
          <%= f.button :submit %>
        </div>
    <% end %>
  </div>
</div>
</div>
</div>