<li><%= link_to "Archive", archives_path %></li>
<li><%= link_to "Courrier Entrant", couriers_path %></li>
<li><%= link_to "Courrier Sortant", release_couriers_path%></li>
<li><%= link_to "Projet", projects_path %></li>
<li><%= link_to "Archive Projet", archive_projects_path %></li>
<li><%= link_to "Archive Courier Sortant", archive_release_couriers_path %></li>
<li><%= link_to "Archive Courier Entrant", archive_couriers_path %></li>